.redtitle {
  color: #ed0007;
}

.lighttitle {
  color: #fc0042;
}

.texto {
  color: #ffffff;
}

.special {
  color: #ffc813;
}

.black {
  color: #f000;
}

.grey {
  color: #1e1e1e;
}

.f1 {
  font-size: 1rem;
}

.f1-5 {
  font-size: 1.5rem;
}

.f2 {
  font-size: 2rem;
}

.f3 {
  font-size: 3rem;
}

.f4 {
  font-size: 4rem;
}

.tcenter {
  text-align: center;
}

.tinicio {
  text-align: initial;
}

.tend {
  text-align: end;
}

.bgcwhite {
  background-color: white;
}

.bgcblack {
  background-color: black;
}

.bgcgrey {
  background-color: grey;
}

.bgcred {
  background-color: red;
}

.bgcyellow {
  background-color: yellow;
}

.bgcgreen {
  background-color: green;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__logo {
  border: 1px solid gray;
  border-radius: 50%;
  transform: rotateY(0deg);
  transition: transform 1s;
}

.header__logo:hover {
  transform: rotateY(360deg);
}

.nav-link {
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  color: white;
}

.nav-link:hover {
  color: red;
}

.ul__nav {
  align-items: center;
  gap: 20px;
}

.burger {
  background-color: #ed0007;
  border-radius: 20%;
}

body {
  background-image: url(../img/background3-min.jpg);
  color: white;
  position: relative;
}

.titulo {
  font-family: 'Zen Dots';
  margin: 0;
  text-decoration: underline;
  text-decoration-color: white;
  padding-bottom: 40px;
  padding-top: 40px;
  text-shadow: 0px 0px 10px white;
}

.titulo:hover {
  text-shadow: 0px 0px 20px white;
}

.special:hover {
  text-shadow: 0px 0px 10px yellow;
}

.main__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parrafos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 30px;
  font-family: 'Zen Dots', cursive;
}

.parrafos__info {
  margin: 0;
}

/*Artistas*/
.card {
  color: white;
  background-color: black;
  border: 3px solid white;
}

.card__title {
  color: red;
}

.card__iconos {
  display: flex;
  justify-content: space-around;
}

.card__link {
  color: white;
}

.card__link:hover {
  color: red;
  transform: scale(1.1);
}

/*Store*/
.subtitulos {
  font-family: 'Michroma', sans-serif;
  text-shadow: 0px 0px 10px white;
  font-weight: 600;
}

.soundclound__contenedor {
  padding-bottom: 50px;
}

/*Minimalcast*/
.youtube__contenedor {
  padding-bottom: 50px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 400px;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Contactos*/
.subtitulo__contenedor {
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.form__body {
  text-align: center;
  border-radius: 3%;
  background: #ff0038;
  background: -moz-linear-gradient(180deg, #ff0038 0%, #5d0a1c 100%);
  background: -webkit-linear-gradient(180deg, #ff0038 0%, #5d0a1c 100%);
  background: linear-gradient(180deg, #ff0038 0%, #5d0a1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0038",endColorstr="#5d0a1c",GradientType=1);
}

.image {
  background-image: url(../img/SendDemosbanner.jpg);
  background-repeat: round;
}

.image__senddemos {
  box-shadow: 0px 0px 1000px black;
  border: 10px solid black;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #3c3c3c;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__items {
  color: white;
}

.footer__items:hover {
  color: #fc0042;
}

.footer__texto {
  color: white;
  font-size: 10px;
  margin: 0;
  align-self: center;
}
