*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    border-radius: 50%;
}

body{
    background-image: url(../img/Dark-Background.jpg);
}


.titulos{
    font-family: 'Zen Dots', cursive;
}