*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    border-radius: 50%;
}

body{
    background-image: url(../img/Dark-Background.jpg);
}


.titulos{
    font-family: 'Zen Dots', cursive;
    text-decoration: overline;
    text-decoration-color: whitesmoke;
    
    
}



.subtitles{
    font-family: 'Zen Dots', cursive;
}

.card-body a:hover{
    color: darkred;
}

.card-body a{
    font-size: 25px;
    color: black;
}


.iconos__card{
    display: flex;
    justify-content: space-around;
}


.index__parrafos{
    flex-direction: column;
}

.ep__img{
    width: 300px;
}


audio {
    width: 100%;
}

.carrito__icono{
    color: black;
}

.carrito__icono:hover{
    color: red;
}

.minimalcast_titulos{
    font-family: 'Michroma', sans-serif;
}


.footer__soundcloud{
    color: orangered;

}

.footer__youtube{
    color: red;
}

.footer__bandcamp{
    color: lightskyblue;
}

.footer__instagram{
    color: palevioletred;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
}


.nav-link{
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    
}

.navbar-toggler{
    background-color: crimson;
}


.nav-item{
    padding: 1rem;

}




















