.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(60, 60, 60);
    position: absolute;
    bottom: 0;
    width: 100%;


    &__items{
        color:white;

        &:hover{
            color: #fc0042;
        }
    }

    &__texto{
        color:white;
        font-size: 10px;
        margin: 0;
        align-self: center;
    }

    
    


}

