.titulo{
    @include titulo
}


.special:hover{
    text-shadow: 0px 0px 10px yellow;

}


.main__data{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.parrafos{
   @include parrafos

}


/*Artistas*/



.card{
    color: white;
    background-color: black;
    border: 3px solid white;


    &__title{
        color: red;
    }

    &__iconos{
        display: flex;
        justify-content: space-around;

    }

    &__link{
        color: white;
    }

    &__link:hover{
        color: red;
        transform: scale(1.1)

    }
    

}


/*Store*/


.subtitulos{
    font-family: 'Michroma', sans-serif;
    text-shadow: 0px 0px 10px white;
    font-weight: 600;
}

.soundclound__contenedor{
    padding-bottom: 50px;
}



/*Minimalcast*/



.youtube__contenedor{
    padding-bottom: 50px;
}



.video-responsive {
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*Contactos*/

.subtitulo__contenedor{
    margin: 0;
    padding-bottom: 40px;
    text-align: center;

}

.form{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    &__body{
        text-align: center;
        border-radius: 3%;
        // background-color: #fc004f;   
        background: rgb(255,0,56);
        background: -moz-linear-gradient(180deg, rgba(255,0,56,1) 0%, rgba(93,10,28,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(255,0,56,1) 0%, rgba(93,10,28,1) 100%);
        background: linear-gradient(180deg, rgba(255,0,56,1) 0%, rgba(93,10,28,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0038",endColorstr="#5d0a1c",GradientType=1);
        
    }
}

.image{
    background-image: url(../img/SendDemosbanner.jpg);
    background-repeat: round;

    &__senddemos{
        box-shadow: 0px 0px 1000px black;
        border: 10px solid black;
    }
}




























