.titulo{
    font-family: 'Zen Dots';
    margin: 0;
    text-decoration: underline;
    text-decoration-color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    text-shadow: 0px 0px 10px white;
    
    &:hover{
        text-shadow: 0px 0px 10px #fc004f;
        cursor: default;
    }

    &__contenedor{
        text-align: center;
        padding-bottom: 30px;
    }
}


.special:hover{
    text-shadow: 0px 0px 10px yellow;

}


.main__data{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.parrafos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 30px;
    font-family: 'Zen Dots', cursive;

    &__info{
        margin: 0;
    }

}


/*Artistas*/



.card{
    color: white;
    background-color: black;
    border: 3px solid white;


    &__title{
        color: red;
    }

    &__iconos{
        display: flex;
        justify-content: space-around;

    }

    &__link{
        color: white;
    }

    &__link:hover{
        color: red;
        transform: scale(1.1)

    }
    

}


/*Store*/


.subtitulos{
    font-family: 'Michroma', sans-serif;
    text-shadow: 0px 0px 10px white;
    font-weight: 600;
}

.soundclound__contenedor{
    padding-bottom: 50px;
}



/*Minimalcast*/



.youtube__contenedor{
    padding-bottom: 50px;
}



.video-responsive {
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*Contactos*/

.subtitulo__contenedor{
    margin: 0;
    padding-bottom: 40px;
    text-align: center;

}

.form{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    &__body{
        text-align: center;
        border-radius: 3%;
        background-color: #fc004f;
    }
}




























